[submodule "protobufs"]
	path = protobufs
	url = https://github.com/Fridgigator/protobufs
[submodule "esp32/esp32/components/esp-nimble-cpp"]
	path = esp32/esp32/components/esp-nimble-cpp
	url = https://github.com/h2zero/esp-nimble-cpp.git
[submodule "esp32/components/esp-nimble-cpp"]
	path = esp32/components/esp-nimble-cpp
	url = https://github.com/h2zero/esp-nimble-cpp.git
